.cardA {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
}

// .cardA:hover .cards{
//     filter: blur(20px);
//     transform: scale(0.9);
//     opacity: 0.5;
// }

.cardA:hover .cards:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}


.cardA {

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .cards {
        height: 420px;
        width: 90%;
        background: #fff;
        border-radius: 20px;
        // overflow: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    .cards .circles {
        border-radius: 20px;;
        height: 100%;
        background: #000;
        clip-path: circle(180px at center 0);
        text-align: center;
    }

    .cards .circles h2 {
        color: #fff;
        font-size: 4.5em;
        padding: 30px 0;
    }

    .cards .contents{
        position: relative;
        top: -45%;
        text-align: center;
        margin:0 25px;
        // page-break-after: 20px;
    }

    .cards .contents p{ 
        color: #666;
    }

    .cards .contents a {
        display: inline-block;
        padding: 10px 20px;
        background: #000;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
        
    } 
}

.cardA div:nth-child(1) .circles,
.cardA div:nth-child(1) .contents a {
    background: #ffaf00;
}

.cardA div:nth-child(3) .circles,
.cardA div:nth-child(3) .contents a {
    background: #bb02ff;
}

.cardA div:nth-child(2) .circles,
.cardA div:nth-child(2) .contents a {
    background: #da2268;
}


// .cards:nth-child(2) .circles,
// .cards:nth-child(2) .contents a {
//     background: #da2268;
// }

// .cards:nth-child(3n) .circles,
// .cards:nth-child(3n) .contents a {
//     background: #bb02ff;
// }