

.area:empty:before{
    content: attr(placeholder);
    color: #ccc;
  }

  .area {
    border: 1px solid #ccc;
    min-height: 150px;  
    overflow: auto; 
    padding: 2px;
    resize: both;
    width: 100%;
    font-size:15px;
    color:#000;
    border-radius: 5px;
  }

  .error{
      color: red;
  }