.error{
    color: red;
}

.ignore{
    color: green;
}

.suggest{
    width: 15%;
    text-align: left;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    position: absolute;
}

.btnFont{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.draftJsToolbar__active__3qcpF svg {
    fill: #5890ff;
}

.identify{
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    font-size: 14px;
    background-color: rgb(218, 231, 248);
}
.identify > div{
  margin:0px 5px 0px 5px;
  
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    /* margin-bottom: 2em; */
    /* box-shadow: inset 0px 1px 8px -3px #ABABAB; */
    background: #fefefe;
    /* min-height: 240px; */
  }

  
  .editor .public-DraftEditor-content {
    min-height: 200px;
  }


