.error{
    color: red;
}

.ignore{
    color: green;
}

.btnFont{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.draftJsToolbar__active__3qcpF svg {
    fill: #5890ff;
}

.identify{
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    font-size: 14px;
    background-color: rgb(218, 231, 248);
}
.identify > div{
  margin:0px 5px 0px 5px;
  
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    /* margin-bottom: 2em; */
    /* box-shadow: inset 0px 1px 8px -3px #ABABAB; */
    background: #fefefe;
    /* min-height: 240px; */
  }

  
  .editor .public-DraftEditor-content {
    min-height: 200px;
  }


.toolTip {
    position: relative;
    display: inline-block;
    /* z-index: 100; */
  }
  
  /* Tooltip text */
.toolTip .tooltiptext {
    visibility: hidden;
    width: 150px;
    /* background-color: black; */
    color: #fff;
    text-align: left;
    /* padding: 5px 0; */
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .toolTip:hover .tooltiptext {
    visibility: visible;
  }