.txt_sel{
    border-bottom: solid 3px blue;
}

.txt_sel:hover{
    background-color:rgba(197, 161, 255, 0.8);
    transition-property: background-color;
    transition-duration: 1s;   
}


.suggest{
    width: 15%;
    text-align: left;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    position: absolute;
    /* left: calc(551px - 10%);
    top:52px; */
}

.select{
    color: blue;
    font-weight: 600;
    display:inline-block;
}
.select:hover{
    background-color: blue;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    display:inline-block;
}

.ignore{
    font-size: 14px;
    color: gray;
}
.ignore:hover{
    background-color: blue;
    font-size: 14px;
    color: whitesmoke;
    cursor: pointer;
}

.highlight {
    background-color: yellow;
  }






  .toolTip {
    position: relative;
    display: inline-block;
    /* z-index: 100; */
  }
  
  /* Tooltip text */
  .toolTip .tooltiptext {
    visibility: hidden;
    width: 150px;
    /* background-color: black; */
    color: #fff;
    text-align: left;
    /* padding: 5px 0; */
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .toolTip:hover .tooltiptext {
    visibility: visible;
  }